@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: white;
  font-family: "Roboto", sans-serif;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

aside {
  background: rgba(17, 21, 28, 0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
